
@font-face {
    font-family: 'BetterPixels';
    src: url('/public/assets/fonts/BetterPixels.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TimesNewPixel';
    src: url('/public/assets/fonts/TimesNewPixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'TimesNewPixel', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; // High z-index to keep it above other content
  }
  
  .footer {
    position: relative;
    bottom: 0;
    width: 100%;
  }