
.wallet-hud {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(133, 133, 133, 0.384);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: none;
  
    &.visible {
      display: block;
    }
  }
  
  .close-hud {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
  